@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* Css Vaiables */
:root{
    /* Fonts */
    --primary-font: "Inter",sans-serif ;
    --secondary-font: "Macondo",cursive;
    /* Colors */
    --main-color: #00142f;  /* Some kind Blue */
    --secondary-color: #014592 ;
    --heighlight-color: #774000;
    --light-heighlight-color:#bc00d5;

}


/* Globals Settings */
body{
    
    /* Main Font */
    font-family: var(--primary-font);
}

h1,h2,h3{
    /* Headings Font  */
    font-family: var(--secondary-font);
    color: var(--main-color);
}
.sub-heading-colors{
    color: var(--secondary-color);
}
h1,h2{
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.section{
    margin-top: 4rem;
}

/* buttons */
.custom-button-filled{
    background-color: var(--heighlight-color);
    border: none;
    color: white;
}
.custom-button-filled:hover{
    border: none;
    background-color: white;
    color: var(--heighlight-color);
    transition: all 0.7s ease-in-out;
}
.custom-button{
    border: 2px solid var(--heighlight-color);
    color: var(--heighlight-color);
    padding: 7px 25px;
}
.custom-button:hover{
    background-color: var(--heighlight-color);
    color: white;
    transition: all 0.5s ease-in-out;
}

/* navbar */
.navbar{
    min-height: 7rem;
    background-color: var(--main-color);
}
.navbar .logo{
    width: 40px;
}
#header .led{
    font-family: var(--secondary-font);
}



/* service */

#service .card , #new-games .card , #favourites .card{
    margin-bottom: 1.5rem;
}

#service .card-footer{
    color: var(--heighlight-color);
    background-color: transparent;
    font-weight: bold;
} 

#new-games span , #favourites span{
    font-weight: bold;
    font-style: oblique;
}

/* footer styling */
#contact {
    background-color: var(--main-color);
    color: white;
    padding-bottom: 3rem;
}
#contact h2{
    color: white;
}
#contact .sub-heading-colors{
    color: var(--heighlight-color);
}
#contact i{
    color: var(--secondary-color);
    font-size: 1.3rem;
    margin-right: 15px;

}
#contact .social-links i{
    color: var(--heighlight-color);
    font-size: 1.8rem;
}
#contact .social-links i:hover{
    color: var(--secondary-color);
    transition: color 0.5s ease-in-out;
}
#contact .table-dark *{
    background-color: transparent;
}

/* 
.sub-heading{
    color: var(--heighlight-color);
} */

/* placeholders to change or delete */
/* .container, .row{
    border: 1px solid black;
}
.col-12{
    background-color: #9d9d9d;
    border: 1px solid #ffffff;
} */



/* Meadis : Devices like Tablets , 768px and up */
@media screen and (min-width: 768px){
    #service .card-body{
    min-height: 191px;
    }

}
@media screen and (min-width:992px) {
    #service .card-body{
    min-height: auto;
    }
}
@media screen and (min-width:1024px) {
    #service .card-body{
    min-height: 266px;
    }
    #new-games .card-body{
        min-height: 345px;
    }
    #favourites .card-body{
        min-height: 395px;
    }
}