@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* Css Vaiables */
 :root{
    /* Fonts */
    --primary-font: "Inter",sans-serif ;
    --secondary-font: "Macondo",cursive;
    /* Colors */
    --main-color: #00142f;  /* Some kind Blue */
    --secondary-color: #014592 ;
    --heighlight-color: #47006b;
    --light-heighlight-color:#bc00d5;

 }


/* Globals Settings */
body{
    
    /* Main Font */
    font-family: var(--primary-font);
}

h1,h2,h3{
    /* Headings Font  */
    font-family: var(--secondary-font);
    color: var(--main-color);
    text-transform: uppercase;
}
.sub-heading-colors{
    color: var(--secondary-color);
}

.navbar{
    min-height: 7rem;
    background-color: var(--main-color);
}
.navbar .logo{
    width: 50px;
}
#header .led{
    font-family: var(--secondary-font);
}

.section{
    margin-top: 4rem;
}

/* 
.sub-heading{
    color: var(--heighlight-color);
} */

/* placeholders to change or delete */
/* .container, .row{
    border: 1px solid black;
}
.col-12{
    background-color: #9d9d9d;
    border: 1px solid #ffffff;
} */